<!doctype html>
<html>
   <body>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>OSSP-survey</title>
   </head>
    <h1> 오픈소스소프트웨어 교재 신청 양식 </h1>
    <body>
      <form action = "/submit" method = "POST">
        이름 : <input type ="text" name ="uname" value=""><br>
        학과 : <input type ="text" name="umajor" value=""><br>
        학년 :
        <div>
         <input type="radio" name ="grade" value="1학년">1학년
         <input type="radio" name ="grade" value="2학년">2학년
         <input type="radio" name ="grade" value="3학년">3학년
         <input type="radio" name ="grade" value="4학년">4학년<br>
         </div>
         교재 수량(최대 3권 수령 가능) : <select>
           <option value="number">1</option>
               <option value="number">2</option>
               <option value="number">3</option>
         </select><br>
         수령 날짜 및 요청 사항 :<br> <textarea name ="" id="" cols="40" rows="5"> </textarea>

      <input type="submit" name="제출">
      </form>
   </body>
</html>
